<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd" xmlns:context="http://www.springframework.org/schema/context">

	<context:annotation-config />


	<bean class="com.springcore.auto.wire.annotation.Address" name="address2">
		<property name="street" value="janakpur" />
		<property name="city" value="Dhanusha" />
	</bean>

	<bean class="com.springcore.auto.wire.annotation.Address" name="address1">
		<property name="street" value="janaksdfsdpur" />
		<property name="city" value="Dhanusdfsdfsha" />
	</bean>

	<bean class="com.springcore.auto.wire.annotation.Emp" name="emp" />

</beans>